<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fgdfg</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Eulenmühle Spende</h1>
    <canvas id="imageCanvas" width="1333" height="750"></canvas>
    Vielen Dank für Ihre Spende von <%= donationAmount %> <%= donationCurrency
    %> an PRO EQUIS e.V. <br />Sie haben <%= donationAmount %> Pixel aufgedeckt!
    <canvas id="offscreenCanvas" width="1333" height="750"></canvas>
  </body>
</html>
