<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fgdfg</title>
  </head>
  <body>
    <h1>Eulenmühle Spende</h1>
    Vielen Dank für Ihre Spende von <%= donationAmount %> <%= donationCurrency
    %> an PRO EQUIS e.V. <br />Sie haben <%= donationAmount %> Pixel aufgedeckt!

    <script src="js/revealPixels.js"></script>
  </body>
</html>
