<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fgdfg</title>
  </head>
  <body>
    <h1>Eulenmühle Spende</h1>
    <form action="/pay" method="post">
      <input
        type="text"
        name="name"
        id="donorName"
        placeholder="Ihr Name"
        required />
      <input
        type="number"
        name="amount"
        id="donationAmount"
        placeholder="Betrag in EUR"
        required />
      <input type="submit" value="Spenden" />
    </form>
  </body>
</html>
