<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eulenmühle - Pferdeschutzverein PRO EQUIS e.V. - Impressum</title>
    <link rel="stylesheet" href="/css/dist/style.css" />
    <link rel="stylesheet" href="/css/dist/legal.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/ico/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/ico/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/ico/favicon-16x16.png" />
    <link rel="manifest" href="/img/ico/site.webmanifest" />
  </head>
  <body id="legal">
    <div id="content">
      <header>
        <div class="logo-and-menu-wrapper">
          <a
            class="eulenmuehle-link"
            href="https://www.eulenmuehle.de/"
            target="_blank">
            <div class="eulenmuehle-logo">
              <img src="/img/eulenmuehle-logo.svg" class="logo" /><img
                src="/img/eulenmuehle-tag.svg"
                class="tag" />
            </div>
          </a>
          <div class="menu-wrapper">
            <ul>
              <li>
                <a
                  href="https://www.eulenmuehle-proequis.de/kontakt/"
                  target="_blank"
                  >Kontakt</a
                >
              </li>
              <li><a href="/legal">Impressum</a></li>
            </ul>
          </div>
        </div>
      </header>

      <div class="back-link-wrapper">
        <a class="back-link" href="/">← Zurück</a>
      </div>

      <main>
        <h1>Impressum</h1>
        <p>
          Eulenmühle<br />
          55218 Ingelheim<br />
          Tel.: 06130 - 9400722<br />
          &nbsp;<br />
          Verantwortlich für den Inhalt:<br />
          EULENMÜHLE – PRO EQUIS e.V.<br />
          Eulenmühle 55218 Ingelheim<br />
          Tel.: 06130 - 9400722&nbsp;<br />
          Email:
          <a href="mailto:info@eulenmuehle.de"
            >info@<span style="display: none">remove-this.</span
            >eulenmuehle.de</a
          >
        </p>

        <h3>Vorstand</h3>

        <p>Vorsitzende: Wiltrud Heine</p>

        <p>Finanzamt: Bingen-Alzey</p>
        <p>
          Der Verein dient nach der eingereichten Satzung ausschließlich und
          unmittelbar steuerbegünstigten gemeinnützigen Zwecken im Sinne der §§
          51 ff. AO und gehört zu den in § 5 Abs. 1 Nr. 9 KStG bezeichneten
          Körperschaften, Personenvereinigungen und Vermögensmassen.
        </p>

        <p>
          Der Verein ist beim Amtsgericht Mainz unter folgendem Aktenzeichen
          eingetragen Nr. VR 40103.
        </p>

        <h3>Design & Entwicklung</h3>
        <p>
          Robert Arning<br />
          <a href="https://robertarning.de" target="_blank"
            >https://robertarning.de</a
          >
        </p>
      </main>
    </div>
  </body>
</html>
