/* FONT FACE
=============================================================================================== */
@font-face {
  font-family: 'Custom Font';
  font-style: normal;
  font-weight: 100 900; /* Supports a range from Thin (100) to Black (900) */
  font-display: swap; /* Optional for better performance */
  src: url('../fonts/Inter-VariableFont_slnt,wght.woff2')
    format('truetype-variations');
}

/* CUSTOM PROPERTIES
=============================================================================================== */
:root {
  --bold: 580;
}

/* GENERAL STYLES
=============================================================================================== */
body {
  margin: 0;
  padding: 0;

  font-family: 'Custom Font';
  font-size: 20px;

  background-color: #fff6f1;
}

* {
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

input {
  font-size: inherit;
}

button {
  font-family: inherit;
}

/* HEADER
=============================================================================================== */
header {
  display: flex;
  justify-content: center;

  width: 100%;
  background: #f2dfd5;
}

.logo-and-menu-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;

  width: 100%;
  max-width: 1100px;
  padding: 6px 0;
}

/* Eulenmühle Logo */
.eulenmuehle-logo img {
  width: 100%;
}

.eulenmuehle-logo .logo {
  max-width: 36px;
}

.eulenmuehle-logo .tag {
  max-width: 120px;
  margin-left: 10px;
}

.menu-wrapper ul {
  display: flex;
  gap: 30px;

  margin: 0;
  padding: 0;

  font-size: 18px;
  list-style: none;
}

/* MAIN
=============================================================================================== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 1400px;
}

/* HEADLINE
=============================================================================================== */
.headline {
  max-width: 900px;
  margin: 0 auto;

  text-align: center;
  letter-spacing: -1px;
}

.headline h1 {
  font-size: 42px;
  font-weight: var(--bold);
  line-height: 140%;
  margin-bottom: 15px;
}
.headline span {
  display: block;
  max-width: 700px;
  line-height: 140%;
}

/* PROGRESS BAR
=============================================================================================== */
.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.counter-wrapper {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
}

.counter {
  width: 80px;
}

.counter-label {
  font-weight: var(--bold);
}

.meter {
  position: relative;
  display: block;

  width: 100%;
  height: 15px;

  background: #e8dfdf;
  border-radius: 25px;
  overflow: hidden;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background: #cba397;
  background: linear-gradient(45deg, #cc9799, #e6adba);
  position: relative;
  overflow: hidden;
  transition: width 1.5s ease-out;
}

/* IMAGE AND FORM WRAPPER
=============================================================================================== */
.headline-and-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.headline-and-content .image-and-donor-list-wrapper {
  max-width: 100%;
}

/* CANVAS AND DONATION FORM
=============================================================================================== */
.canvas-and-donation-form {
  display: flex;
}

/* IMAGE CANVASES
=============================================================================================== */
#imageCanvas {
  width: 100%;
  max-width: 100%;
  display: block;

  border: 1px solid #f2dfd5;
}

#offscreenCanvas {
  display: none;
}

/* PRO EQUIS LOGO AND FORM WRAPPER
=============================================================================================== */
.equis-logo-and-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 300px;
  padding: 20px;

  background-color: #f2dfd5;
}

/* PRO EQUIS Logo
=============================================================================================== */
.pro-equis-logo img {
  width: 100%;
  max-width: 100px;
}

.pro-equis-logo span {
  font-size: 18px;
  font-weight: 500;
}

.pro-equis-logo span > span {
  display: block;
}

/* DONATION FORM
=============================================================================================== */
#donationForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Radio Buttons Styles */
body#home label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 13px;

  background-color: #e5cfbf;
  border: 2px solid #ceb8ac;

  cursor: pointer;
  user-select: none;
}

/* Hide Normal Radio Buttons */
body#home input[type='radio'] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Checked State */
body#home input[type='radio']:checked + label {
  border-color: #000;
}

/* Focus State */
body#home input[type='radio']:focus + label {
  outline: 2px solid;
  outline-offset: -2px;
}

/* Hover State */
body#home label:hover {
  border-color: #000;
}

/* Text & Number Input */
body#home input[type='text'],
body#home .donation-field-wrapper {
  padding: 10px;
  border: none;
  background-color: #fffaf7;
}

.donation-and-amount-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Donation Field Wrapper */
body#home form .donation-field-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 24px;
}

body#home .donation-field-wrapper:focus-within {
  outline: 2px solid;
}

/* Donation Amount Field */
body#home form #donationAmountField {
  width: 100%;
  flex: 1;
  padding: 0;

  font-family: 'Custom Font';
  font-size: 24px;
  font-weight: 500;
  border: none;

  background: transparent;
}

body#home #donationAmountField::placeholder {
  color: #c0c0c0;
  font-weight: var(--bold);
}

body#home #donationAmountField:focus {
  outline: none;
}

/* Amount Wrapper */
body#home .amount-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

/* Payment Method Wrapper */
body#home .payment-method-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body#home .payment-method-wrapper img {
  max-height: 23px;
}

body#home .payment-method-wrapper .radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #fff6f1;
  border-radius: 50%;
}

body#home .payment-method-wrapper .radio::before {
  display: none;
  content: '';
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
}

body#home .payment-method-wrapper #paypalButton + label {
  justify-content: space-between;
}

body#home .payment-method-wrapper input:checked + label .radio::before {
  display: flex;
}

body#home .payment-method-wrapper #stripeButton + label {
  justify-content: space-between;
}

body#home .payment-method-wrapper #stripeButton + label img {
  max-width: 40px;
}

body#home .payment-method-wrapper #stripeButton + label > div {
  display: flex;
}

/* Donor Name Field */
body#home form #donorName {
  width: 100%;
  padding: 13.5px;
}

span.description {
  display: flex;
  gap: 3px;
  margin-top: 5px;

  font-size: 12px;
  color: #8f8178;
}

span.description span.info {
  display: flex;
  width: 15px;
  height: 14px;
  background-color: #8f8178;
  mask-image: url(/img/info.svg);
  mask-repeat: no-repeat;
}

body#home form #donorName::placeholder {
  color: #aaa;
}

/* Submit Button */
body#home form button[type='submit'] {
  width: 100%;
  padding: 14px;
  border: none;

  color: #fff;
  font-weight: var(--bold);
  font-size: 22px;

  background-color: #0bb175;
  border: none;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.02) 0px 10px 10px -5px;
  transition: background-color 0.3s;
}

body#home form button[type='submit']:hover {
  background-color: #009760;
}

/* DONOR LIST WRAPPER
=============================================================================================== */
.donor-list-and-spacer {
  display: flex;
  width: 100%;
}

.donor-list-and-spacer .spacer {
  width: 100%;
  max-width: 300px;
}

/* DONOR LIST
=============================================================================================== */
#donor-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  padding: 0 0 50px;

  font-size: 18px;
}

.donor-list-headline {
  margin-top: 0;
  font-weight: var(--bold);
}

.donor-and-donation-amount-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  gap: 10px;

  padding: 20px;

  background-color: #f2dfd5;
}

.donation-amount {
  display: flex;
  align-items: center;
  font-weight: var(--bold);
}

.donation-time {
  display: flex;
  align-items: center;
}

.donor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.donor-icon {
  flex-shrink: 0;
  display: flex;

  width: 30px;
  height: 30px;

  background-image: url(/img/user2.svg);
  background-repeat: no-repeat;
  background-color: #fff6f1;
  border-radius: 50%;
}

.donor-name {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
