body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

#imageCanvas {
  display: block;
  height: 50svh;
  max-height: 100%;

  margin: 0 auto;

  box-sizing: border-box;
  image-rendering: pixelated; /* Ensures sharp pixels when scaled */
  transform: scale(
    1
  ); /* Optional: Scales up the canvas for better visibility */
  transform-origin: center;
}

#offscreenCanvas {
  display: none;
}

body#home form {
  margin-top: 20px;
}
