/* FONT FACE
=============================================================================================== */
@font-face {
  font-family: 'Custom Font';
  font-style: normal;
  font-weight: 100 900; /* Supports a range from Thin (100) to Black (900) */
  font-display: swap; /* Optional for better performance */
  src: url('../../fonts/Inter-VariableFont_slnt,wght.woff2')
    format('truetype-variations');
}

/* CUSTOM PROPERTIES
=============================================================================================== */
:root {
  --bold: 520;
}

/* GENERAL STYLES
=============================================================================================== */
html {
  font-size: 20px;
  letter-spacing: -0.2px;
}

@media (max-width: 860px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Custom Font';
  color: #eaeaea;

  background-color: #fff6f1;
}

* {
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 640px) {
  #content {
    padding: 0 15px;
  }
}

input {
  font-size: inherit;
}

button {
  font-family: inherit;
}

a,
a:visited {
  position: relative;
  color: #eaeaea;
  text-decoration: none;
}

a::before {
  display: none;
  content: '';
  position: absolute;

  top: -4px;
  bottom: -4px;
  left: -8px;
  right: -8px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

@media (hover: hover) {
  a:hover::before {
    display: block;
  }
}
@media (hover: none) {
  a:active::before {
    display: block;
  }
}

/* HEADER
=============================================================================================== */
header {
  display: flex;
  justify-content: center;

  width: 100%;
}

.logo-and-menu-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;

  width: 100%;
  max-width: 1400px;
  padding: 6px 0;
}

@media (max-width: 640px) {
  .logo-and-menu-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 0 0 20px;
  }
}

/* Eulenmühle Logo */
.eulenmuehle-link::before {
  visibility: hidden;
  opacity: 0;
}

.eulenmuehle-logo img {
  width: 100%;
}

.eulenmuehle-logo .logo {
  max-width: 36px;
}

.eulenmuehle-logo .tag {
  max-width: 120px;
  margin-left: 10px;
}

.menu-wrapper ul {
  display: flex;
  gap: 30px;

  margin: 0;
  padding: 0;

  font-size: 0.9rem;
  font-weight: 200;
  list-style: none;
}

/* MAIN
=============================================================================================== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 1400px;
}

main::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';

  width: 100%;
  height: 720px;

  background-color: #333;
  z-index: -1;
}
/* 
@media (max-width: 1130px) {
  main::before {
    height: 1200px;
  }
} */

/* HEADLINE
=============================================================================================== */
.headline {
  max-width: 900px;
  margin: 0 auto;

  text-align: center;
  letter-spacing: -1px;
}

.headline h1 {
  color: #fff;
  font-size: 57px;
  font-weight: var(--bold);
  line-height: 140%;
  margin-bottom: 15px;
}

@media (max-width: 860px) {
  .headline h1 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  .headline h1 {
    font-size: 34px;
    line-height: 120%;
  }
}

.headline h1 span {
  color: #f16e1d;
  font-weight: 380;
}

.headline .headline-description {
  display: block;
  max-width: 700px;

  font-size: 1rem;
  color: #e2e1e1;
  font-weight: 200;
  line-height: 140%;
}

/* PROGRESS BAR
=============================================================================================== */
.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.counter-wrapper {
  display: flex;
  justify-content: space-between;

  font-size: 0.8rem;
}

.counter {
  width: 70px;
}

.counter-label {
  font-weight: var(--bold);
  text-align: center;
}
.completed .counter-label {
  color: #51d88c;
}

.meter {
  position: relative;
  display: block;

  width: 100%;
  height: 15px;

  background: #505050;
  border-radius: 25px;
  overflow: hidden;
}

.meter > span {
  display: block;
  position: relative;
  height: 100%;

  border-radius: 20px;
  background: #2d9067;
  background: linear-gradient(45deg, #2d9067, #29cc7f);

  overflow: hidden;
  transition: width 1.5s ease-out;
}

/* IMAGE AND FORM WRAPPER
=============================================================================================== */
.headline-and-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.headline-and-content .image-and-donor-list-wrapper {
  max-width: 100%;
}

/* CANVAS AND DONATION FORM
=============================================================================================== */
.canvas-and-donation-form {
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 25px 66px -39px rgba(0, 0, 0, 0.45);
}

@media (max-width: 1130px) {
  .canvas-and-donation-form {
    flex-direction: column;
  }
}

/* IMAGE CANVASES
=============================================================================================== */
#imageCanvas {
  width: 100%;
  max-width: 100%;
  display: block;
}

#offscreenCanvas {
  display: none;
}

/* PRO EQUIS LOGO AND FORM WRAPPER
=============================================================================================== */
.equis-logo-and-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 300px;
  padding: 20px;

  background-color: rgba(69, 115, 99, 0.95);
  backdrop-filter: blur(10px);
}

@media (max-width: 1130px) {
  .equis-logo-and-form {
    max-width: 100%;
    padding: 30px;
    background-color: rgba(69, 115, 99, 1);
  }
}

/* PRO EQUIS Logo
=============================================================================================== */
@media (max-width: 1130px) {
  .pro-equis-logo {
    max-width: 600px;
    margin: 0 auto;

    text-align: center;
  }
}

.pro-equis-logo img {
  width: 100%;
  max-width: 100px;
}

.pro-equis-logo span {
  font-size: 0.9rem;
  font-weight: 400;
}

.pro-equis-logo span > span {
  display: block;
}

/* DONATION FORM
=============================================================================================== */
#donationForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 1130px) {
  #donationForm {
    max-width: 600px;
    margin: 0 auto;
  }
}

/* Radio Buttons Styles */
body#home label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0;

  color: rgb(18, 40, 32);
  font-weight: 560;

  background-color: #6ea190;
  border: 3px solid transparent;

  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}

/* Hide Normal Radio Buttons */
body#home input[type='radio'] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Checked State */
body#home input[type='radio']:checked + label {
  background-color: #fff;
}

/* Focus State */
body#home input[type='radio']:focus + label {
  outline: none;
  border-color: #fff;
}

/* Hover State */
body#home label:hover {
  border-color: #fff;
}

/* Choice Text */
.choice {
  display: block;

  font-size: 13px;
  color: #a6beb6;
}

/* Text & Number Input */
body#home input[type='text'],
body#home .donation-field-wrapper {
  padding: 10px;

  font-family: 'Custom Font';

  background-color: transparent;
  border: 3px solid #658c7c;
  border-radius: 4px;
}

.donation-and-amount-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Donation Field Wrapper */
body#home form .donation-field-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
}

body#home .donation-field-wrapper:focus-within {
  border-color: #fff;
}

/* Donation Amount Field */
body#home form #donationAmountField {
  width: 100%;
  flex: 1;
  padding: 0;

  font-family: 'Custom Font';
  font-size: 1.2rem;
  color: #fff;
  border: none;

  background: transparent;
}

body#home #donationAmountField::placeholder {
  color: #6b9584;
  font-weight: var(--bold);
}

body#home #donationAmountField:focus {
  outline: none;
}

/* Amount Wrapper */
body#home .amount-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

/* Payment Method Wrapper */
body#home .payment-method-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

body#home .payment-method-wrapper img {
  max-height: 23px;
}

body#home .payment-method-wrapper .radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #fff6f1;
  border-radius: 50%;
}

body#home .payment-method-wrapper #paypalButton + label {
  justify-content: center;
}

body#home .payment-method-wrapper #stripeButton + label {
  justify-content: center;
}

body#home .payment-method-wrapper #stripeButton + label img {
  max-width: 40px;
}

body#home .payment-method-wrapper #stripeButton + label > div {
  display: flex;
}

/* Donor Name Field */
body#home form #donorName {
  width: 100%;
  padding: 12.5px;
  color: #fff;
}
body#home form #donorName:focus {
  outline: none;
  border-color: #fff;
}
body#home form #donorName:is(:-webkit-autofill, :autofill),
body#home form #donorName:is(:-webkit-autofill, :autofill):hover,
body#home form #donorName:is(:-webkit-autofill, :autofill):focus,
body#home form #donorName:is(:-webkit-autofill, :autofill):active {
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

span.description {
  display: flex;
  gap: 3px;

  font-size: 13px;
  color: #96b3a9;
}

span.description span.info {
  display: flex;
  width: 15px;
  height: 14px;
  background-color: #96b3a9;
  mask-image: url(/img/info.svg);
  mask-repeat: no-repeat;
}

body#home form #donorName::placeholder {
  color: #6b9584;
  font-weight: var(--bold);
}

/* Submit Button */
body#home form button[type='submit'] {
  width: 100%;
  padding: 16px;
  border: none;

  font-weight: var(--bold);
  font-size: 1.1rem;
  line-height: 1;

  /* background-color: #ffe000; */
  background-image: linear-gradient(30deg, #ffe000 50%, #00b93e 50%);
  background-size: 300% 100%;
  background-repeat: no-repeat;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.08) 0px 10px 10px -5px;

  transition: background 300ms ease-in-out, color ease-in-out 150ms;
}

body#home form button[type='submit']:hover {
  background-position: 100% 0%;
  color: #fff;
}

/* DONOR LIST WRAPPER
=============================================================================================== */
.donor-list-and-spacer {
  display: flex;
  width: 100%;
}

.donor-list-and-spacer .spacer {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 1130px) {
  .donor-list-and-spacer .spacer {
    display: none;
  }
}

/* DONOR LIST
=============================================================================================== */
#donor-list {
  width: 100%;
  padding: 0 0 60px;

  font-size: 0.9rem;
}

.donor-list-headline {
  margin: 0 0 10px;
  font-weight: var(--bold);
  color: #333;
}

span.no-donations,
.donor-list-total-amount {
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 160%;
}

.donor-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: fixed;
}

.donor-list-donor {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.donor-list-date {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.donor-list-donor,
.donor-list-amount,
.donor-list-date {
  padding: 20px;
}

.donor-list-donor {
  width: 50%;
}

.donor-list-amount {
  width: 20%;
}

.donor-list-date {
  width: 30%;
  text-align: right;
}

.donor-and-donation-amount-wrapper {
  width: 100%;

  border-radius: 10px;
  background-color: rgba(69, 115, 99, 0.95);
}

.donor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.donor-icon {
  flex-shrink: 0;
  display: flex;

  width: 30px;
  height: 30px;

  background-image: url(/img/user2.svg);
  background-repeat: no-repeat;
  background-color: #91b8ab;
  border-radius: 50%;
}
